button {
  cursor: pointer !important;

  &:disabled {
    background-color: #00e65c;
  }

  &:hover:not(:disabled) {
    opacity: 80%;
  }
}

.border {
  border: 2px solid var(--accent-color);
  border-radius: 8px;
}

.invert-color {
  color: var(--main-color);
  background-color: var(--accent-color);
}
