.tabs-wrapper {
  display: flex;
  font-size: 1.5rem;
  padding-inline: 1.5rem;
  margin-bottom: 2rem;

  div {
    color: #ffffff;
    padding-inline: 1rem;
    padding-block: 0.3rem;
    position: relative;

    &:hover {
      cursor: pointer;
      opacity: 80%;
    }
  }
}

.tab-all span {
  color: #00a8e8;
}
.tab-open span {
  color: #d72638;
}
.tab-completed span {
  color: #00e65c;
}

.active::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}
